service: node-js-assignment


# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-aws-documentation
  - serverless-dynamodb-local
  - serverless-offline
  
provider:
  name: aws
  runtime: nodejs14.x

  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

  environment:
    LOANS_TABLE: Loans-${self:provider.stage}
    IS_OFFLINE: true
    DISBURSEMENT_API_BASE_URL: http://localhost:3000/dev
    OPENKVK_BASE_URL: https://api.overheid.io/openkvk
    OPENKVK_API_KEY: e03b293a4698ba78d9b9b4d4f91473fb4c6feeaa022a6bf793338983e107004b # Replace with your API KEY - would have used serverless-dotenv-plugin for this


  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:PutItem
        - dynamodb:GetItem
      Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.LOANS_TABLE}


custom:
  serverless-offline:
     port: 3000
    
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      migrate: true

functions:
  CreateLoan:
    handler: src/apps/loanManagement/createLoan.handler
    events:
      - http:
          method: post
          path: loans
          cors: true

  DeleteLoan:
    handler: src/apps/loanManagement/deleteLoan.handler
    events:
      - http:
          method: delete
          path: loans/{id}
          cors: true

  GetLoans:
    handler: src/apps/loanManagement/getLoans.handler
    events:
      - http:
          method: get
          path: loans
          cors: true

  GetLoan:
    handler: src/apps/loanManagement/getLoan.handler
    events:
      - http:
          method: get
          path: loans/{id}
          cors: true


  UpdateLoanStatus:
    handler: src/apps/loanManagement/updateLoanStatus.handler
    events:
      - http:
          method: patch
          path: loans/{id}
          cors: true

  DisburseLoan:
    handler: src/apps/disbursement/disburseLoan.handler
    events:
      - http:
          method: patch
          path: disburse/{loanId}
          cors: true

resources:
  Resources:
    LoansDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.LOANS_TABLE}




